[Desktop Entry]
Version=1.0
Type=Application
Name=epher
GenericName=Calculator
Comment=A programmable, scriptable calculator
Exec=epher gui
Icon=org.epher.Desktop
Terminal=false
Categories=Science;Math;
Keywords=calculator;math;graph;script;
StartupNotify=true
